.container {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Center the sidebar and companion vertically */
    height: 100vh; /* Full viewport height to vertically center items */
    padding: 20px;
    box-sizing: border-box;
  }

  .sidebar {
    flex: 1;
    padding: 10px;
    gap: 10px;
    
    top: 50%;
    width: 40%;
    height: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .gospel_title {
    flex: 3;
    padding: 10px;
    gap: 10px;

    width: 60%;
    height: 20px;
  }
  
  .scripture {
    flex: 3;
    padding: 10px;
    gap: 10px;

    width: 60%;
    overflow-y: scroll;
    height: 800px;
  }

  .companion {
    flex: 2;
    padding: 10px;
    gap: 10px;
    
    top: 50%;
    width: 40%;
    height: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
      
  }