.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #333;
    color: #fff;
    padding: 1rem;
}
  
.navbar-left img {
    float: left;
}

.navbar-left .logo {
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    position: relative;

    font-family: "Segoe Script", cursive;
}
  
.navbar-center .nav-links {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;  
}
  
.navbar-center .nav-links li {
    margin-right: 3rem;

    font-size: 1.25rem;
    font-weight: bold;
    font-family: "Courier New", monospace;

    --s: 0.1em;   /* the thickness of the line */
    --c: #2c4bff; /* the color */
    
    color: #0000;
    padding-bottom: var(--s);
    background: 
      linear-gradient(90deg,var(--c) 50%,#000 0) calc(100% - var(--_p,0%))/200% 100%,
      linear-gradient(var(--c) 0 0) 0% 100%/var(--_p,0%) var(--s) no-repeat;
    -webkit-background-clip: text,padding-box;
            background-clip: text,padding-box;
    transition: 0.5s;
}
li:hover {--_p: 100%}
  
.navbar-center .nav-links a {
    color: #fff;
    text-decoration: none;
}
  
.navbar-right {
    display: flex;
    align-items: center;
}
  
.navbar-right .bible-icon {
    color: #fff;
    text-decoration: none;
    margin-left: 1rem;
    position: relative;
}